belgeler/
catboost_info/
oldfiles/
deneme.ipynb
formula.txt
main.py
main_classification.py
NBA_Player_Stats.csv
NBA_Player_Stats_2.csv
NBA_Player_Stats_22_23.csv
NBA_Player_Stats_23_24.csv
results.xlsx
TESTCASE.PY