belgeler/
catboost_info/
oldfiles/
graphics/
test_results/
test_results2/
deneme.ipynb
formula.txt
main.py
main_classification.py
NBA_Player_Stats.csv
NBA_Player_Stats_2.csv
NBA_Player_Stats_22_23.csv
NBA_Player_Stats_23_24.csv
results.xlsx
TESTCASE.PY
results/
best_models.txt
findbestmodel.py
tes.py
best_modelc/
datasets/dataset copy.csv
datasets/dataset_extra.csv
datasets/dataset_scaled - Kopya.csv
datasets/dataset_test.csv
datasets/Test_preprocess.csv
datasets/train_features.csv
datasets/Train_preprocess.csv
datasets/updated_NBA_Data_With_Standing - Kopya.csv
